# 访问API服务器(/v1/chat/completions)
API_Key=Your key
API_URL=http://localhost:3000

# 中间层服务器输出鉴权
Port=5890
Key=123456

# 自定义变量
SystemInfo="Win11专业版23H2/i7-13790F/32GB RAM/RTX4070 TiSuper"
WeatherInfo=Weather.txt


# 获取天气模型
WeatherModel=gemini-2.5-flash-preview-04-17
WeatherPrompt="今天的日期是{{Date::time}}，你需要联网搜索从今天开始一周的武汉天气，并将这7日的武汉天气以[WeatherInfo:七日天气内容]格式包裹。"
