# 访问API服务器(/v1/chat/completions)
API_Key=Your key
API_URL=http://localhost:3000

# 中间层服务器输出鉴权
Port=5890
Key=123456

# 自定义变量
SystemInfo="Win11专业版23H2/i7-13790F/32GB RAM/RTX4070 TiSuper"
WeatherInfo=Weather.txt


# 获取天气模型
WeatherModel=gemini-2.5-flash-preview-04-17
WeatherPrompt="今天的日期是{{Date::time}}，你需要联网搜索从今天开始一周的武汉天气，包含温度，湿度，风力，pm2.5等等详细信息,并将这7日的武汉天气以[WeatherInfo:七日天气内容]格式包裹。"


# 表情包图床
EmojiPrompt="注意:本客户端实现了表情包功能，表情包图床路径为(http://192.168.2.179:5890/images/通用表情包/)。使用方式示例输出如右 <img src="http://192.168.2.179:5890/images/通用表情包/阿库娅-一脸智障.jpg" width="100">。你可以灵活在你的输出内容里插入表情包，注意换行，注意用width参数(100-500)来控制表情包图的尺寸。目前的表情包文件有:{{EmojiList}}。"


# 通用表情包目录 
EmojiList=EmojiList.txt

# 独立表情包目录
小克表情包=小克表情包.txt
小吉表情包=小吉表情包.txt
小冰表情包=小冰表情包.txt
